body {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: boogaloo;
  src: url('../assets/fonts/Px437_Apricot_Mono.ttf');
}

h1, h2, h3 {
    display: none;
}

.banner-wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    text-align: center;
}

.banner-wrapper .banner-logo {
    background-color: #000000;
    justify-content: center;
    background-image: url('../assets/img/slime-1.gif');
    background-repeat: no-repeat;
    background-position:top;
    background-position-x: right;
    background-size: 20%;
    background-position-y: -20px;
}

.banner-wrapper .banner-logo img {
    justify-content: center;
    max-width: 80%;
}

#header-banner .banner-wrapper aside  {
    background-color: #650499;
}

.banner-wrapper aside .banner-ad-image img {
    max-width: -webkit-fill-available;
}

.banner-wrapper aside .banner-ad-text {
    display: none;
}

header .info-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header .info-wrapper div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    background-color: #ff3301;
    border-top: .9rem solid #ff3301;
    border-bottom: .5rem solid #ff3301;
    font-family: Boogaloo;
    text-transform: uppercase;
    font-size: 1.6rem;
}

header .info-wrapper div:first-child * {
    margin: .1rem 0;
}

.bood-red-color {
    color: #660000;
}

.crayola-orange-yellow-color {
    color: #ffcc66;
}

.white-color {
    color: #ffffff;
}

header .info-wrapper .warning-message{
    font-size: .8rem;
    font-family: verdana, helvetica, arial;
    margin: .5rem 0;
}

.menu-icon {
    display: block;
    background-image: url('../assets/img/menu-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    margin: .5rem auto;
}

header nav section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    display: flex;
    font-family: Boogaloo;
    color: #ffffff;
    height: 200px;
}

header nav section button {
    font-family: Boogaloo;
    text-transform: uppercase;
    background-color: #d00000;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    margin-left: .5rem;
}

header nav section label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
}

header nav section label * {
    margin: .2rem 0;
}

header nav ul#nav-menu {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    flex-direction: column;
    font-family: Boogaloo;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px -50px 36px -28px inset;
}

header nav ul li {
    list-style: none;
    background-color: #000000;
    padding: 15px 15px 15px 15px;
    border-radius: 7px;
    margin-top: 1.2rem;
    font-size: 120%;
}

header nav ul li:hover {
    background-color:#d00000;
    box-shadow: 10px 0px 50px rgba(0, 0, 0, 0.8)
}

header nav ul a li {
    text-decoration: none;
    color: #ffffff;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

main #supersection{
    box-shadow: rgba(0, 0, 0, 0.5) 50px 0px 36px -28px inset,rgba(0, 0, 0, 0.5) -50px 0px 36px -28px inset;
}

main #section-child {
    display: flex;
    flex: 1;
}


main #section-child .break-wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 0.8rem;
}

main #section-child .break-1 {
    background-color: #000000;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

main #section-child .break-1 #bio {
   width:90%;
   font-family: Boogaloo;
   font-size: auto;

   line-height: 2rem;

}

main #section-child #credit {
    padding: 0;
    margin: 0;
    justify-content: left;
    text-align: left;
    font-size: 0.4rem;
    background-color: #000;
    color: #fff;
}

main #section-child img {
    background-color: #000000;
    justify-content: center;
    max-width: 100%;
}

main #section-child img:hover{
    -webkit-filter: contrast(500%); /* Safari 6.0 - 9.0 */
    filter: contrast(500%);
}

main #featured img:hover{
    -webkit-filter: contrast(500%); /* Safari 6.0 - 9.0 */
    filter: contrast(500%);
    
}

main #section-child #cool {
    width: 200%;
    font-size: medium;
    font-family: Boogaloo;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 400%;

    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation:rainbow 3s infinite; 
    -webkit-animation: rainbow 3s infinite; 
}

main #section-child #cool-2 {
    width: 100%;
    font-family: Boogaloo;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 100%;
}


section#characters {
    display: none;
}

section#featured {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Boogaloo;
    font-weight: bold;
    margin:0;
    font-size: .6rem;
    background-image: url('../assets/img/logo.png');
    background-repeat:no-repeat;
    background-size: 315%;
    background-position-y: center;
    background-position-x: center;
    font-size: 1rem;
}


section#featured article {
    border-top: 0;
    margin: 2%;
    flex-direction: column;
}

section#featured-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: .6rem;
    font-family: Boogaloo;
}


section#featured-2 article {
    border-top: 0;
    margin: 0.5%;
    flex-direction: column;
}

section#featured article#l {
    margin-right: 40%;
}

section#featured article#r {
    margin-left: 40%;
}

section#featured article img {
        min-width: 50%;
        min-height: 50%;
        box-shadow: 10px 0px 50px rgba(0, 0, 0, 0.8), -10px 0px 50px rgba(0, 0, 0, 0.8);
    }

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #legalities {
    margin: 1.2rem 0;
}

footer #legalities a {
    font-family: Boogaloo;
    font-size: .8rem;
    color: #ff6600;
}

footer #footer-banner {
    width: 100%;
}

footer #copyright-information {
    margin: 1.2rem 0;
    font-family: Boogaloo;
}

footer #copyright-information p {
    text-align: center;
    margin: 0;
    font-size: .7rem;
}

footer #black{
    background-color: #000;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: Boogaloo;
}

div#fire{
    max-height:200px;
    max-width: 100%;
    overflow: hidden;
}

section#featured img {
    width: 30%;
    height: auto;
}

section#featured a {
    color: #000;
    font-size: 1rem;
}

section#featured a:hover{
    color:#d00000;
}

section#featured-2 a {
    color: #000;
    font-size: 1rem;
}

section#featured-2 a:hover{
    color:#d00000;
}

@media only screen and (min-width: 1780px) {
    /* For desktop: */
    body {
        max-width: 100%;
        margin: 0 auto;
    }

    div#fire{
        max-height:400px;
        max-width: 100%;
        overflow: hidden;
    }

    .banner-wrapper {
        justify-content: center;
        flex-direction: row;
    }

    .banner-wrapper .banner-logo {
        display: inline-flex;
    }

    .banner-wrapper aside {
        display: flex;
    }

    .banner-wrapper aside .banner-ad-image {
        display: flex;
    }

    .banner-wrapper aside .banner-ad-image img {
        max-width: none;
    }

    .banner-wrapper aside .banner-ad-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        font-family: Boogaloo;
    }

    .rotate-90 {
        display: block;
        height: fit-content;
        transform: rotate(90deg);
    }

    .banner-wrapper .banner-logo img {
        justify-content: center;
        max-width: 50%;
    }

    header .info-wrapper div:first-child {
        height: 3rem;
        flex-direction: row;
        border: 0;
        justify-content: center;
        vertical-align: middle;
        font-size: 2rem;
        border-top: .9rem solid #ff3301;
        border-bottom: .5rem solid #ff3301;
    }

    header .info-wrapper div:first-child span,
    header .info-wrapper div:first-child img {
        margin-left: .2rem;
    }

    header nav section {
        border: 0;
        height: 200px;
        align-items: center;
    }
    
    header nav section label {
        flex-direction: row;
    }

    header nav ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        font-family: Boogaloo;
    }

    header nav ul#nav-menu {
        display: flex;
        flex-direction: row;
        width: auto;
        align-items: center;
        font-size: 2rem;
    }

    nav .menu-icon {
        display: none;
    }

    header nav ul li {
        margin-top: 0;
        border-radius: 7px;
    }

    main #section-child #cool-2 {
        width: 100%;
        font-family: Boogaloo;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 150%;
    }

    section#characters {
        display: flex;
        margin: .3rem 0;
    }

    section#featured img {
        width: 30%;
        height: 30%;
    }

    section#featured {
        flex-direction: column;
    }

    section#featured a {
        color: #000;
        font-size: 1rem;
    }

    section#featured a:hover{
        color:#d00000;
    }

    main #section-child img {
        background-color: #000000;
        justify-content: center;
        max-width: 75%;
    }

    section#featured article {
        display: flex;
        align-items: center;
        border-top: 0;
    }

    .flex-column {
        flex-direction: column;
    }

    
}

#morph-section{
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.8);
}

.morph::before {
    content: "POISONING";
    -webkit-animation: changeText 20s infinite;
    animation: changeText 20s infinite;
}

.morph{
    text-align: center;
    justify-content: center;
}

@-webkit-keyframes changeText {
    0% {
        content: "POISONING";
        font-size: 390%;
        opacity: 0;
    }
    7% {
        content: "POISONING";
        font-size: 390%;
        opacity: 1;
    }
    17% {
        content: "POISONING";
        font-size: 390%;
        opacity: 0;
    }
    21% {
        content: "YOUR";
        font-size: 390%;
        opacity: 0;
    }
    28% {
        content: "YOUR";
        font-size: 390%;
        opacity: 1;
    }
    38% {
        content: "YOUR";
        font-size: 390%;
        opacity: 0;
    }
    42% {
        content: "MINDS";
        font-size: 390%;
        opacity: 0;
    }
    49% {
        content: "MINDS";
        font-size: 390%;
        opacity: 1;
    }
    59% {
        content: "MINDS";
        font-size: 390%;
        opacity: 0;
    }
    63% {
        content: "SINCE";
        font-size: 390%;
        opacity: 0;
    }
    70% {
        content: "SINCE";
        font-size: 390%;
        opacity: 1;
    }
    80% {
        content: "SINCE";
        font-size: 390%;
        opacity: 0;
    }
    84% {
        content: "2017";
        font-size: 390%;
        opacity: 0;
    }
    91% {
        content: "2017";
        font-size: 390%;
        opacity: 1;
    }
    100% {
        content: "2017";
        font-size: 390%;
        opacity: 0;
    }
}


@keyframes changeText {
    0% {
        content: "POISONING";
        font-size: 390%;
        opacity: 0;
    }
    7% {
        content: "POISONING";
        font-size: 390%;
        opacity: 1;
    }
    17% {
        content: "POISONING";
        font-size: 390%;
        opacity: 0;
    }
    21% {
        content: "YOUR";
        font-size: 390%;
        opacity: 0;
    }
    28% {
        content: "YOUR";
        font-size: 390%;
        opacity: 1;
    }
    38% {
        content: "YOUR";
        font-size: 390%;
        opacity: 0;
    }
    42% {
        content: "MINDS";
        font-size: 390%;
        opacity: 0;
    }
    49% {
        content: "MINDS";
        font-size: 390%;
        opacity: 1;
    }
    59% {
        content: "MINDS";
        font-size: 390%;
        opacity: 0;
    }
    63% {
        content: "SINCE";
        font-size: 390%;
        opacity: 0;
    }
    70% {
        content: "SINCE";
        font-size: 390%;
        opacity: 1;
    }
    80% {
        content: "SINCE";
        font-size: 390%;
        opacity: 0;
    }
    84% {
        content: "2017";
        font-size: 390%;
        opacity: 0;
    }
    91% {
        content: "2017";
        font-size: 390%;
        opacity: 1;
    }
    100% {
        content: "2017";
        font-size: 390%;
        opacity: 0;
    }
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popupimg {
    visibility: hidden;
    width: 15rem;
    background-color: #555;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popupimg::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  

  @keyframes rainbow{
    0%{color: black;}
    20%{color: red;}
    40%{color: yellow;}
    60%{color: red;}
    80%{color: yellow;}
    100%{color: black;}
   }

   @-webkit-keyframes rainbow{
    0%{color: black;}
    20%{color: red;}
    40%{color: yellow;}
    60%{color: red;}
    80%{color: yellow;}
    100%{color: black;}
   }