body {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: boogaloo;
  src: url('../assets/fonts/Px437_Apricot_Mono.ttf');
}

h1, h2, h3 {
    display: none;
}

.banner-wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    text-align: center;
}

.banner-wrapper .banner-logo {
    background-color: #000000;
}

#header-banner .banner-wrapper aside  {
    background-color: #650499;
}

.banner-wrapper aside .banner-ad-image img {
    max-width: -webkit-fill-available;
}

.banner-wrapper aside .banner-ad-text {
    display: none;
}

header .info-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header .info-wrapper div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    background-color: #ff3301;
    border-top: .9rem solid #ff3301;
    border-bottom: .5rem solid #ff3301;
    font-family: Boogaloo;
    text-transform: uppercase;
    font-size: 2rem;
}

header .info-wrapper div:first-child * {
    margin: .1rem 0;
}

.bood-red-color {
    color: #660000;
}

.crayola-orange-yellow-color {
    color: #ffcc66;
}

.white-color {
    color: #ffffff;
}

header .info-wrapper .warning-message{
    font-size: .8rem;
    font-family: verdana, helvetica, arial;
    margin: .5rem 0;
}

.menu-icon {
    display: block;
    background-image: url('../assets/img/menu-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    margin: .5rem auto;
}

header nav section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    display: flex;
    font-family: Boogaloo;
    color: #ffffff;
    height: 200px;
}

header nav section button {
    font-family: Boogaloo;
    text-transform: uppercase;
    background-color: #d00000;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    margin-left: .5rem;
}

header nav section label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
}

header nav section label * {
    margin: .2rem 0;
}

header nav ul#nav-menu {
    padding: 0;
    margin: .2rem 0;
    flex-direction: column;
    font-family: Boogaloo;
    align-items: stretch;
    width: 50%;
    margin: 0px auto 0.5rem;
    text-align: center;
    font-size: 1.3rem;
}

header nav ul li {
    list-style: none;
    background-color: #000000;
    padding: 10px 17px;
    border-radius: 7px;
    margin-top: .5rem;
}

header nav ul li:hover {
    background-color:#d00000;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

main #section-child {
    display: flex;
    flex: 1;
}

main #section-child img {
    width: 100%;
}

main #section-child #cool {
    width: 200%;
    font-size: medium;
    font-family: Boogaloo;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

section#characters {
    display: none;
}

section#featured {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: verdana, helvetica, arial;
    font-weight: bold;
    font-size: .6rem;
    margin: 0 1rem;
}

section#featured article {
    border-top: 0;
    margin: 2%;
    flex-direction: column;
}

section#featured article img {
        min-width: 30%;
    }

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #legalities {
    margin: 1.2rem 0;
}

footer #legalities a {
    font-family: helvetica, arial;
    font-size: .8rem;
    color: #ff6600;
}

footer #footer-banner {
    width: 100%;
}

footer #copyright-information {
    margin: 1.2rem 0;
}

footer #copyright-information p {
    text-align: center;
    margin: 0;
    font-size: .7rem;
}

div#fire{
    max-height:100px;
    max-width: 100%;
    overflow: hidden;
}

@media only screen and (min-width: 1210px) {
    /* For desktop: */
    body {
        max-width: 67.256rem;
        margin: 0 auto;
    }

    div#fire{
        max-height:300px;
        max-width: 100%;
        overflow: hidden;
    }

    .banner-wrapper {
        justify-content: center;
        flex-direction: row;
    }

    .banner-wrapper .banner-logo {
        display: inline-flex;
    }

    .banner-wrapper aside {
        display: flex;
    }

    .banner-wrapper aside .banner-ad-image {
        display: flex;
    }

    .banner-wrapper aside .banner-ad-image img {
        max-width: none;
    }

    .banner-wrapper aside .banner-ad-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Boogaloo';
    }

    .rotate-90 {
        display: block;
        height: fit-content;
        transform: rotate(90deg);
    }

    header .info-wrapper div:first-child {
        height: 3rem;
        flex-direction: row;
        border: 0;
        justify-content: center;
        vertical-align: middle;
        font-size: 2rem;
        border-top: .9rem solid #ff3301;
        border-bottom: .5rem solid #ff3301;
    }

    header .info-wrapper div:first-child span,
    header .info-wrapper div:first-child img {
        margin-left: .2rem;
    }

    header nav section {
        border: 0;
        height: 200px;
        align-items: center;
    }
    
    header nav section label {
        flex-direction: row;
    }

    header nav ul {
        padding: 0;
        margin: .5vh 0;
        display: flex;
        justify-content: space-between;
        font-family: Boogaloo;
    }

    header nav ul#nav-menu {
        display: flex;
        flex-direction: row;
        margin: .4rem 0;
        width: auto;
        align-items: center;
        font-size: 2rem;
    }

    nav .menu-icon {
        display: none;
    }

    header nav ul li {
        margin-top: 0;
        border-radius: 7px;
    }

    section#characters {
        display: flex;
        margin: .3rem 0;
    }

    section#characters img {
        width: 100%;
    }

    section#featured {
        flex-direction: column;
    }

    section#featured a {
        color: #000;
        font-size: 1rem;
    }

    section#featured a:hover{
        color:#d00000;
    }

    section#featured article {
        display: flex;
        align-items: center;
        border-top: 0;
    }

    .flex-column {
        flex-direction: column;
    }



    
}

.morph::before {
    content: "Poisoning";
    -webkit-animation: changeText 20s infinite;
}

.morph{
    text-align: center;
    vertical-align: middle;
}

@-webkit-keyframes changeText {
    0% {
        content: "POISONING";
        font-size: 450%;
        opacity: 0;
    }
    7% {
        content: "POISONING";
        font-size: 450%;
        opacity: 1;
    }
    17% {
        content: "POISONING";
        font-size: 100%;
        opacity: 0;
    }
    21% {
        content: "YOUR";
        font-size: 450%;
        opacity: 0;
    }
    28% {
        content: "YOUR";
        font-size: 450%;
        opacity: 1;
    }
    38% {
        content: "YOUR";
        font-size: 100%;
        opacity: 0;
    }
    42% {
        content: "MINDS";
        font-size: 450%;
        opacity: 0;
    }
    49% {
        content: "MINDS";
        font-size: 450%;
        opacity: 1;
    }
    59% {
        content: "MINDS";
        font-size: 100%;
        opacity: 0;
    }
    63% {
        content: "SINCE";
        font-size: 450%;
        opacity: 0;
    }
    70% {
        content: "SINCE";
        font-size: 450%;
        opacity: 1;
    }
    80% {
        content: "SINCE";
        font-size: 100%;
        opacity: 0;
    }
    84% {
        content: "2017";
        font-size: 450%;
        opacity: 0;
    }
    91% {
        content: "2017";
        font-size: 450%;
        opacity: 1;
    }
    100% {
        content: "2017";
        font-size: 100%;
        opacity: 0;
    }
}

