#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.grid-cell {
    border: 5px solid #000;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-family: Impact, fantasy;
    color: rgb(215, 230, 14);
    border-radius: 8px;
}

.grid-cell:not(.disabled):hover {
    background: rgb(215, 230, 14);
}

.x::after {
    content: 'X';
}

.o::after {
    content: 'O';
}

.game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-over-text {
    position: absolute;
    top: -250px;
    font-size: 75px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgb(215, 230, 14);
}

.restart {
    position: absolute;
    top: 220px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    color: rgb(215, 230, 14);
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(215, 230, 14);
    transition-duration: 0.4s;
}

.restart:hover {
    position: absolute;
    top: 220px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgb(14, 169, 230);
    background-color: rgb(215, 230, 14);
    border-radius: 8px;
}

.visible {
    display: block;
}

.h1 {
    position: absolute;
    font-size: 75px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    top: 35px;
    color: rgb(215, 230, 14);
}